<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomMessageBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Helpers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <Helpers.Properties.Settings>
            <setting name="AppVersion" serializeAs="String">
                <value>09.05.2019</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>WorkTask</value>
            </setting>
            <setting name="PathToPipeSettings" serializeAs="String">
                <value>WorkTask.Cfg\connection.xml</value>
            </setting>
            <setting name="PathToAppSettings" serializeAs="String">
                <value>WorkTask.Cfg\app.xml</value>
            </setting>
        </Helpers.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Helpers.Properties.Settings>
            <setting name="DefaultConnectionString" serializeAs="String">
                <value>Data Source=localhost;Initial Catalog=test_db;Persist Security Info=True;Integrated Security=SSPI</value>
            </setting>
        </Helpers.Properties.Settings>
    </userSettings>
</configuration>